@import "vars";
@import "mixins";
* {
  box-sizing: border-box;
}
.biman {
  width: 640px;
  margin: 100px auto;
  border: 1px solid $border-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
  height: 600px;
  h1 {
    text-align: center;
    font-size: $large-size;
    margin-bottom: 50px;
  }
  .inputBox {
    margin-bottom: 20px;
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    span {
      width: 50px;
    }
    input {
      width: calc(100% - 50px - 20px);
    }
  }
  input {
    height: 60px;
    border: 1px solid $border-color;
    padding: 0 15px;
  }
  button {
    height: 60px;
    margin-bottom: 50px;
    border-color: $main-color;
    color: $white-color;
    border-radius: 100px;
    @include longShadow(darken($main-color, 10), right, 50);
    overflow: hidden;
    border: none;
    outline: none;
    &:btnreset {
      margin-top: 20px;
      background-color: #222;
      @include longShadow(darken(#222, 10), right, 50);
    }
  }
}
#result {
  margin-top: 50px;
  font-size: 2rem;
}

@media all and (max-width: 640px) {
  .biman {
    width: 100%;
    padding: 50px 20px;
    border: none;
    padding: 50px 20px;
  }
}
