@import "vars";
@import "mixins";
* {
  box-sizing: border-box;
}
.wrap {
  #analog {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 100%;
    span {
      display: block;
      position: absolute;
      border-radius: 100px;
      left: 50%;
      bottom: 150px;
      transform-origin: 50% 100%;
    }
    .hour {
      width: 30px;
      height: 120px;
      background-color: rgb(233, 5, 5);
      margin-left: -15px;
      transform: rotate(30deg);
    }
    .min {
      width: 20px;
      height: 130px;
      background-color: rgb(206, 117, 1);
      margin-left: -10px;
    }
    .sec {
      width: 10px;
      height: 140px;
      background-color: rgb(2, 84, 206);
      margin-left: -5px;
    }
  }
}
